<!-- contact_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Details Contact</title>
</head>
<body>

{% block content %}
  <h2>Contact Detail</h2>
  <p>Name: {{ contact.first_name }} {{ contact.last_name }}</p>
  <p>Phone: {{ contact.phone_number }}</p>
  <p>Email: {{ contact.email }}</p>
  <p>Address: {{ contact.address }}</p>
  <a href="{% url 'contacts_update' contact.id %}">Edit</a> |
  <a href="{% url 'contacts_list' %}">Back to list</a>
{% endblock %}
</body>
</html>