<!DOCTYPE html>
<html>
<head>
    <title>Contact List</title>
</head>
<body>
    <h1>Contact List</h1>
    <ul>
        <a href="{% url 'contacts_form' %}">Create contact</a>
        {% for contact in contacts %}
            <li>
                {{ contact.first_name }} {{ contact.last_name }} - {{ contact.phone_number }}
            <a href="{% url 'contacts_update' contact.id %}">Edit</a>   
            <a href="{% url 'contacts_confirm_delete' contact.id %}">Delete</a>  
            <a href="{% url 'contacts_view' contact.id %}">View</a>  
                
            </li>
        {% empty %}
            <li>No contacts available. <a href="{% url 'contacts_form' %}">Create contact</a></li>
        {% endfor %}
    </ul>
    <footer style="text-align: center; position: absolute; bottom: 0; width: 100%;">
        <p>&copy; Created by Rishitha Kandibyalla</p>
    </footer>
</body>
</html>
