<!DOCTYPE html>
<html>
<head>
    <title>Contact Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Contact Details</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>Name:</strong> {{ contact.first_name }} {{ contact.last_name }}</h5>
                <p class="card-text"><strong>Phone Number:</strong> {{ contact.phone_number }}</p>
                <p class="card-text"><strong>Email:</strong> {{ contact.email }}</p>
               
                <!-- Add other contact details as needed -->

                <a href="{% url 'contacts_list' %}" class="btn btn-primary">Back to Contact List</a>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-white text-center py-2 mt-5">
        <p>&copy; Created by Rishitha Kandibyalla</p>
    </footer>

    <!-- Optional: Add Bootstrap JS and jQuery links here if needed -->
</body>
</html>
