<!DOCTYPE html>
<html>
<head>
    <title>Edit Contact</title>
</head>
<body>
    <h1>Edit Contact</h1>
    <form method="post" action="{% url 'contacts_update' contact.id %}">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ contact.first_name }}" required><br><br>
        
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ contact.last_name }}" required><br><br>
        
        <label for="phone_number">Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number" value="{{ contact.phone_number }}" required><br><br>
        
        <input type="submit" value="Update">
    </form>
    <br>
    <a href="{% url 'contacts_list' %}">Back to Contact List</a>
</body>
</html>
